{% extends '@b3daGallery/layout.html.twig' %}

{% block title %}
    {% if about is defined and about is not null and about.title > '' %}
        {{ about.title }}
    {% else %}
        {{ gallery_name }}
    {% endif %}
{% endblock %}

{% block body %}
{% if gallery_listing == 'fullscreen' %}
    {% include '@b3daGallery/Front/listingFullscreen.html.twig' %}
{% elseif gallery_listing == 'tabs' %}
    {% include '@b3daGallery/Front/listingTabs.html.twig' %}
{% else %}
    <h2>Please specify valid `gallery_listing` (in app/config/parameters.yml). Options are `fullscreen` or `tabs`</h2>
{% endif %}
{% endblock %}
