{% extends '@b3daGallery/layout.html.twig' %}

{% block body %}
{% if gallery_listing == 'fullscreen' %}
    {% include '@b3daGallery/Front/listingFullscreen.html.twig' %}
{% elseif gallery_listing == 'tabs' %}
    {% include '@b3daGallery/Front/listingTabs.html.twig' %}
{% else %}
    <h2>Please specify valid `gallery_listing` (in app/config/parameters.yml). Options are `fullscreen` or `tabs`</h2>
{% endif %}
{% endblock %}
