# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: sf_b3gallery
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # titles, downloaded files
    gallery_name: 'b3gallery'
    # main heading on homepage, leave empty '' for none
    gallery_main_heading: 'b3da photo gallery'
    # listing style - can be 'fullscreen' or 'tabs'
    gallery_listing: 'fullscreen'
    # for gallery password protection, set it up and backup string (all password protected galleries will need to set new password after change of this)
    gallery_http_realm: 'changeThisOnlyONCE'
    # for gallery password protection, set it up and backup string (all password protected galleries will need to set new password after change of this)
    gallery_password_salt: 'change this to something only ONCE!'
    # your web hostname (https://domain.tld)
    gallery_hostname: 'http://localhost/my/b3gallery'

    # leave as is, change only in case you know what you are doing
    gallery_directory: '%kernel.project_dir%/web/uploads/gallery'
    twig_gallery_directory: '%gallery_hostname%/web/uploads/gallery'
