{% extends '@b3daGallery/layoutAdmin.html.twig' %}

{% block body %}
  {#<form action="{{ oneup_uploader_endpoint('gallery') }}?galleryId={{ gallery.id }}" class="dropzone" style="width:100%; height:33vh; border:4px dashed black">#}
  {#</form>#}
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
  {#<script type="text/javascript" src="https://raw.github.com/enyo/dropzone/master/dist/dropzone.js"></script>#}
  {#<script type="text/javascript" src="{{ asset('bundles/b3dagallery/js/dropzone.js') }}"></script>#}
{#{% endblock %}#}
