{% extends 'b3daGalleryBundle::layoutAdmin.html.twig' %}

{% block title %}b3Gallery login{% endblock %}

{% block body %}
    <div class="flex-centered full-height">
        {% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}