@import "common.css";

.gallery-heading {
    margin: 0 0 0 1rem;
    font-size: 2rem;
}

section.gallery-container {
    display: flex;
    flex-wrap: wrap;
}
section.gallery-container::after {
    content: '';
    flex-grow: 999999999;
}
div.thumb-container {
    margin: 3px;
    /*background-color: rgba(193, 193, 193, 0.65);*/
    position: relative;
    -webkit-transition: 300ms -webkit-filter linear;
    transition: 300ms filter linear, 300ms -webkit-filter linear;
    cursor: pointer;
}
div.thumb-container:hover img.thumb {
    -webkit-filter: brightness(123%);
    filter: brightness(123%);
    /*-webkit-filter: grayscale(1%) hue-rotate(7deg) saturate(2);*/
    /*filter: grayscale(1%) hue-rotate(7deg) saturate(2);*/
}
i.thumb-background {
    display: block;
}
img.thumb {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
}
div#image-modal {
    opacity: 0;
    transition: opacity 300ms linear;
}
div#image-modal.active {
    display: flex;
    opacity: 1;
    background-color: #000;
    color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
div#image-modal h3 {
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    opacity: 0.7;
    text-align: center;
    z-index: 11;
}
div#image-modal div.image-description {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.35;
    transition: opacity 300ms linear;
    background-color: #222;
    z-index: 12;
}
div#image-modal div.image-description:hover {
    opacity: 0.7;
}
div#image-modal div.image-description p {
    text-align: justify;
    padding: 0.5rem;
}
div#image-modal img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    z-index: 10;
    cursor: pointer;
}
div.image-ctrl {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: #c1c1c1;*/
    opacity: 0.1;
    transition: opacity 300ms linear;
    width: 20vw;
    height: 100%;
    top: 0;
    z-index: 11;
    cursor: pointer;
}
div.image-ctrl i.fa {
    font-size: 5rem;
    color: #fff;
}
div.image-ctrl-prev {
    left: 0;
}
div.image-ctrl-next {
    right: 0;
}
div.image-ctrl-close {
    justify-content: flex-end;
    padding-right: 1rem;
    height: 5vh;
    width: calc(20vw - 1rem);
    right: 0;
    opacity: 0.33;
    z-index: 12;
}
div.image-ctrl-download {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1rem;
    height: 5vh;
    width: 5vh;
    right: 0;
    bottom: 1rem;
    opacity: 0.1;
    transition: opacity 300ms linear;
    z-index: 15;
    cursor: pointer;
}
div.image-ctrl-close i.fa {
    font-size: 3rem;
}
div.image-ctrl:hover, div.image-ctrl-download:hover {
    opacity: 0.7;
}


div.gallery-list-fs-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.gallery-tab-fs-container {
    background-size:  cover;
    background: #333 no-repeat fixed center center;
    background-size: 190%;
    width: 100%;
    height: 100vh;
    border-bottom: 4px solid #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.gallery-tab-fs-container:last-of-type {
    border-bottom: none;
}
.gallery-tab-fs-container:hover {
    -webkit-filter: brightness(112%);
    filter: brightness(112%);
}
.gallery-tab-fs-container:hover a {
    border-bottom: 0.3rem solid #ff8800;
    color: #000
}
.gallery-fs-title-container {
    width: 60%;
    margin-bottom: 10rem;
    height: 23vh;
    background-color: #fff;
    opacity: 0.65;
}

@media only screen and (min-width: 1240px) {
    .gallery-tab-fs-container { background-size: 150%; }
    .gallery-fs-title-container { width: 40%; }
}
@media only screen and (min-width: 1590px) {
    .gallery-tab-fs-container { background-size: 120%; }
    .gallery-fs-title-container { width: 30%; }
}
@media only screen and (max-width: 799px) {
    .gallery-tab-fs-container { background-size: 240%; }
    .gallery-fs-title-container { width: 70%; }
}
