@import "common.css";

.dropzone-container {
    width: 100%;
    padding: 0 0 0 1rem;
}

.list-image-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1rem #e3e3e3;
    height: 10rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.bigger-image-container {
    height: 15.5rem;
}
.list-image-thumb-container {
    overflow: hidden;
    width: 40%;
    margin: 0.5rem;
}
img.list-image-thumb {
    height: 100%;
    width: auto;
    background-color: #e3e3e3;
}
.list-image-ctrl-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.list-image-ctrl-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 2.5rem;
}

.image-container {
    height: calc(100vh - 6rem);
    margin-left: 0.5rem;
    overflow-y: auto;
}
.image-container img {
    margin-left: 2rem;
    width: 70%;
    height: auto;
}
.main-color-stripe {
    width: 2.5rem;
    height: 100%;
    margin-right: 0.5rem;
    float: right;
}
