@import "common.css";

.dropzone-container {
    width: 100%;
    padding: 0 0 0 1rem;
}

.list-image-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 1rem #e3e3e3;
    height: 10rem;
    margin-bottom: 1rem;
}
.list-image-thumb-container {
    width: 30%;
    max-width: 30%;
    margin: 0.5rem;
}
img.list-image-thumb {
    height: 100%;
    width: auto;
    background-color: #e3e3e3;
}
.list-image-ctrl-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.list-image-ctrl-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2.5rem;
}

.image-container {
    height: calc(100vh - 5rem);
    margin-left: 0.5rem;
    overflow-y: auto;
}
.image-container img {
    width: 100%;
    height: auto;
}
